<a href="https://colab.research.google.com/github/yunjeong-chang/My_Data_project/blob/main/%EC%BA%90%EA%B8%80_%EC%9E%AC%EB%B0%B0%20%ED%99%98%EA%B2%BD%20%EB%B3%84%20%EC%9E%91%EB%AC%BC%20%EC%A2%85%EB%A5%98%20%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<KNN 을 통한 분류문제>**

**: 재배환경 별 작물 종류 예측**

이상 기후, 온난화등의 문제로 기상 변화 문제로 농업의 생태계는 다양한 변화를 맞이하고 있습니다. 기후를 통제하여 안정적인 생산력을 유지하는 스마트팜과 더불어 변화하는 환경에 맞추어 적절한 작물을 찾는 시도도 필요하며, 본 과제를 통해 이러한 요구를 해결하고자 합니다. 

* N - 토양 내 질소 함량 비율
* P - 토양 내 인산 함량 비율
* K - 토양 내 칼륨 함량 비율
* temperature - 섭씨 온도
* humidity - 상대 습도(%)
* ph - 토양의 ph 값
* rainfall - 강우량 (mm)

주어진 환경정보를 통해 환경에 적합한 작물을 예측해봅시다.

평가 데이터 550 개에 대하여 총 22개의 작물 중 하나로 분류합니다.

분류 결과는 sample.csv 형식에 맞추어 제출하며, train.csv의 label과 같은 string 형식으로 다음의 22개의 레이블 중 하나로 분류합니다.

mothbeans, lentil, pigeonpeas, cotton, coconut, mungbean, jute, chickpea, mango, apple, blackgram, muskmelon, papaya, coffee, orange, pomegranate, kidneybeans, rice, banana, watermelon, maize, grapes

제출된 평가 데이터의 예측값은 Categorical Accuracy로 평가됩니다.

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
#데이터 불러오기
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')
submit = pd.read_csv('/content/sample.csv')

In [ ]:
#학습 데이터 슬라이싱
x = train.iloc[:,:-1] # x_train = train.drop('label', axis=1)
y = train.iloc[:,-1]  # y_train = train['label']

In [ ]:
#실수화 ('label'문자열을 실수화)
classle = LabelEncoder()
y = classle.fit_transform(y) 
print(np.unique(y))

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]

In [ ]:
#KNN 모델 학습
knn = KNeighborsClassifier(n_neighbors=5, p=2)
knn.fit(x, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
#KNN 모델 적용
y_pred = knn.predict(test)
y_pred

array([15, 21, 17, 17,  0, 12,  0, 13, 14, 10,  2,  4, 19,  8,  4, 19,  0,
        6, 17, 15,  5, 17, 16, 17,  3,  8, 14, 16, 18,  8, 19, 13,  8, 10,
        8,  2,  8,  3,  3,  9, 17, 12,  2, 11, 14, 11, 18,  4, 15, 11,  2,
        5,  7, 14,  5,  9,  6,  0,  1,  2, 21,  4, 10, 16, 17,  2, 16, 20,
       15, 18, 15,  4,  8,  1,  2, 17,  1,  6, 21, 16,  5,  3,  8, 13, 16,
       12,  5, 13,  2, 19, 11, 13,  6, 17, 18, 13,  9,  5,  2, 10,  4,  8,
       16, 15, 21,  9, 21,  1, 18, 13,  1,  8,  6, 19, 18,  3, 11,  4, 19,
       20, 18,  7,  2,  4,  3,  2,  4, 11,  1, 13,  1,  9, 19,  3,  4, 16,
       18,  1,  1,  0,  9, 15, 14, 13,  4, 11,  0,  4,  9, 13, 14, 10, 21,
       14, 18, 18, 18,  9, 11,  8,  3,  0, 16,  6, 20,  4,  7, 10, 21,  7,
        7,  2, 19,  3,  4, 11, 10,  7, 21,  8,  5,  5,  9,  8, 13,  9,  1,
        9,  4, 17, 17, 14, 12, 19, 21,  9, 11,  0,  2,  3,  7,  7,  1,  6,
       20, 19, 14,  1,  8, 14, 11,  3,  3,  3,  0, 20,  9, 17,  5,  2,  9,
       12, 12,  4, 17,  0,  3, 19,  3, 15,  0, 15, 15, 12, 12,  6,  4, 19,
       20, 15,  5, 17, 10, 11, 12, 15, 18, 14,  5,  7,  4,  6, 18, 20,  0,
       19,  5,  3,  6,  8, 12,  1, 17,  0,  3,  8, 18, 13, 14,  8, 19,  7,
       13,  8, 11,  4, 11,  3,  1,  8,  4,  8, 12, 15,  0,  1, 18,  2, 16,
        3, 21,  1,  0,  3,  5, 18, 16,  0,  4, 17, 21, 13, 17,  3, 19,  3,
       17, 10,  0, 19,  3, 12,  3, 19, 21,  9, 14, 15, 21,  9, 15, 12,  8,
        2,  3,  1,  2, 18, 17,  9, 14,  4,  6,  7,  0, 10,  1,  8,  0, 19,
        0, 14, 15,  5,  8, 18,  8,  9,  1, 11,  8, 11, 18, 12,  9, 19, 21,
        2, 11, 20, 13,  9, 12,  6, 17, 13,  6, 14, 16, 20,  2, 14,  5,  1,
       18, 17,  0, 19, 11, 12,  4,  0, 10,  8, 13, 10,  4,  2,  8, 14,  6,
       21,  0,  7,  4,  7, 21, 20, 12, 12,  5, 19,  1,  7,  8, 16,  6, 12,
       17, 15, 13,  8,  3, 13, 19, 21, 13,  6, 17, 21, 10, 20,  4, 13, 13,
       11, 20, 11,  4, 16, 19,  9, 21, 14,  2, 20, 20,  6,  6, 18, 16,  2,
       10,  1, 12, 11,  0, 19, 12,  6, 14, 18,  3,  0,  5, 18,  8,  8,  8,
       17, 10,  7,  8, 16, 14, 12,  9,  7, 14, 16, 18,  1,  8, 18, 19,  5,
       15,  2, 17, 17, 19,  9,  3, 14, 14, 12, 18, 15, 12, 13, 18, 15, 20,
       19, 15, 18,  0, 14, 20,  9,  0, 20, 12, 17, 13,  6, 19, 18, 17, 10,
       11,  3, 15,  6,  9,  3, 14,  5,  5, 16, 21, 16,  7,  5, 18, 12,  0,
       12, 19,  5, 18,  5,  7,  6, 19, 17,  0,  2, 18, 21, 17,  2,  7, 10,
        8,  5, 17,  3,  5,  8])

In [ ]:
y_pred = classle.inverse_transform(y_pred)

for i in range(len(y_pred)):
  submit['label'][i] = (y_pred[i])

submit

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

      id       label
0      0   muskmelon
1      1  watermelon
2      2      papaya
3      3      papaya
4      4       apple
..   ...         ...
545  545      coffee
546  546      papaya
547  547    chickpea
548  548      coffee
549  549        jute

[550 rows x 2 columns]

In [ ]:
submit.to_csv('submit_18012576.csv',index=False)